body {
    animation: theme 21s linear infinite;
    
    &:after,
    &:before {
        content: '';
        display: block;
        position: fixed;
        z-index: -1;
        top: 0;
        width: 100vw;  // IE/Edge
        height: 100vh; // fallback
        width: 100vmax;
        height: 100vmax;
        background: rgba(0,0,0,0.05);
        animation: background 90s linear infinite;
    }

    &:after {
        left: 15vw;
    }

    &:before {
        right: 15vw;
        animation-delay: -30s;
        animation-direction: reverse;
    }
}

@keyframes theme {
    0% {
        background: #D5DEE7;
    }
    
    16% {
        background: #EEF1F5;
    }
    
    33% {
        background: #E6E9F0;
    }
    
    50% {
        background: #E6E9F0;
    }
    
    66% {
        background: #EEF1F5;
    }    
    
    83% {
        background: #EEF1F5;
    }

    100% {
        background: #D5DEE7;
    }
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}
